server:
  port: "${SOA_SERVICE_PORT}"
  ssl:
    key-store-type: "PKCS12"
    key-store: "classpath:keystore.p12"
    key-store-password: "changeit"
    key-alias: "springboot"

    trust-store: "classpath:wildfly-truststore.p12"
    trust-store-password: "changeit"
    trust-store-type: "PKCS12"

spring:
  main:
    banner-mode: "off"
  datasource:
    own:
      username: ${CONTAINER.USERNAME}
      password: ${CONTAINER.PASSWORD}
      url: ${CONTAINER.URL}
  jpa:
    generate-ddl: true
    hibernate.ddl-auto: "update"
    database-platform: "org.hibernate.dialect.PostgreSQLDialect"
    properties:
      javax:
        persistence:
          validation:
            mode: "auto"
    show-sql: true
  mvc:
    pathmatch:
      matching-strategy: "ant_path_matcher"
